body {
    background-image: url("https://wallpapercave.com/wp/MTFGvNm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
padding: 10%;
margin: 5% auto;
justify-content: center;
align-items: center;
background-color: #f4aa25;
border-radius: 10px 10px 10px 10px;
box-shadow: 0 10px 10px 0;
}




.questionContainer {
    display: none;
}

.final-score {
    display: none;
}

